<!-- <input
  class="form-control w-75"
  type="text"
  placeholder="Search"
  aria-label="Search"
  id="search-box"
/> -->

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.LocalizedName" [term]="t"></ngb-highlight>
  <br />
  <small>{{r.Country.LocalizedName}}</small>
</ng-template>

<input
  id="typeahead-weather"
  type="text"
  class="form-control mx-sm-3"
  [class.is-invalid]="searchFailed"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  [inputFormatter]="formatter"
  [resultTemplate]="rt"
  placeholder="Search Cities"
  (selectItem)="onItemSelection($event)"
/>
<small *ngIf="searching" class="form-text text-muted">searching...</small>
<div class="invalid-feedback" *ngIf="searchFailed">
  Sorry, suggestions could not be loaded.
</div>

<ng-container></ng-container>
<div class="card" style="width: 10rem;">
  <img [src]="'../assets/11.png'" class="card-img-top" alt="" />
  <div class="card-body">
    <p class="card-text">
      "IconPhrase": "Mostly cloudy",
    </p>
    <small>Temperature 77</small>
  </div>
</div>
