<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.LocalizedName" [term]="t"></ngb-highlight>
  <br />
  <small>{{r.Country.LocalizedName}}</small>
</ng-template>
<div class="w-75" style="position:relative">
  <input
    id="typeahead-weather"
    type="text"
    class="form-control w-75"
    [class.is-invalid]="searchFailed"
    [(ngModel)]="model"
    [ngbTypeahead]="search"
    [inputFormatter]="formatter"
    [resultTemplate]="rt"
    placeholder="Search Cities"
    (selectItem)="onItemSelection($event)"
  />
  <small *ngIf="searching" class="form-text text-muted">searching...</small>
  <div class="invalid-feedback" *ngIf="searchFailed">
    Sorry, suggestions could not be loaded.
  </div>
</div>
<br />

<h3 *ngIf="results.length">
  Report for {{location}} on {{currentDate | date}}
</h3>

<div class="row">
  <ng-container *ngFor="let item of results">
    <div class="card" style="width: 10rem;">
      <img
        src="{{'assets/'+ item.WeatherIcon+'.png'}}"
        class="card-img-top"
        alt=""
      />
      <div class="card-body">
        <p class="card-text">
          {{item.IconPhrase}}
        </p>
        <p>{{item.DateTime | date: 'HH:mm'}}</p>
        <small
          >Temperature {{item.Temperature.Value}}
          {{item.Temperature.Unit}}</small
        >
      </div>
    </div>
  </ng-container>
</div>
